<div class="background">
    <img src="{{sopa.[0].background}}" />
</div>
<section class="pricing-panel">
    {{#each sopa}}
    <div class="carda">
        <img src="{{imagen}}" alt="Servicio 1">
        <h3>{{comida}}</h3>
        <p>{{pcantidad}}
            <span id="contenedor-botones">
                <button class="restar">{{resta}}</button>
                <span class="contador">{{contador}}</span>
                <button class="sumar">{{sumar}}</button>
            </span>
        </p>
        <p>{{precioL}}
            {{#if price}}
            <span class="price-items">{{price}}</span>
            {{/if}}
            {{#if priceButtons}}
            {{#each priceButtons}}
            <button class="price-selector">{{this}}</button>
            {{/each}}
        {{/if}}

        <div class="container-details">
            <button type="submit" id="btn_order">{{ordenar}}</button>
        </div>
        <span id="extra-text">{{advertencia}}</span>
    </div>
    {{/each}}
</section>